<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> wellcome ur already logged in </h1>
    <!-- <a href="/login">logout</a>
    <br>


    <button action="/index" method="DELETE" >sign out </button>
 -->
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">log out</button>
    </form>

    <button action="/index" method="DELETE" id="email">signout </button>

</body>

</html>