<h1> Registration </h1>
</body>
<form action="/register" method="POST">
    <input type="text" autocomplete="off" name="firstname" placeholder="firstname" />
    <br>
    <input type="text" autocomplete="off" name="lastname" placeholder="lastname" />
    <br>
    <input type="number" autocomplete="off" name="phonenumber" placeholder="phone number" />
    <br>
    <input type="email" autocomplete="off" name="email" placeholder="Email" />
    <br>
    <input type="password" autocomplete="off" name="password" placeholder="password" />
    <br>
    <input type="password" autocomplete="off" name="password2" placeholder="confrim password" />

    <button type="submit" autocomplete="off" class="btn btn-primary">Sign up</button>
    <!-- <input type="submit " autocomplete="off" id="submit" value="submit" /> -->
    <div>
        <p>already have an account <a href="./login"> login </a> </p>

    </div>

</form>